
.wrap { max-width: 1000px; margin-left: auto; margin-right: auto; }

.pad-8 { padding: 8px; }
.pad-16 { padding: 16px; }
.pad-24 { padding: 24px; }
.pad-32 { padding: 32px; }
.pad-40 { padding: 40px; }

.vert-pad-8 { padding-top: 8px; padding-bottom: 8px; }
.vert-pad-16 { padding-top: 16px; padding-bottom: 16px; }
.vert-pad-24 { padding-top: 24px; padding-bottom: 24px; }
.vert-pad-32 { padding-top: 32px; padding-bottom: 32px; }
.vert-pad-40 { padding-top: 40px; padding-bottom: 40px; }

.hrz-pad-8 { padding-left: 8px; padding-right: 8px; }
.hrz-pad-16 { padding-left: 16px; padding-right: 16px; }
.hrz-pad-24 { padding-left: 24px; padding-right: 24px; }
.hrz-pad-32 { padding-left: 32px; padding-right: 32px; }
.hrz-pad-40 { padding-left: 40px; padding-right: 40px; }
