<div class="wrap pad-16">
    <mat-card>
        <section class="players">
            <h5 class="player-header flex hrz-pad-16">
                <span class="player-detail number">&nbsp;</span>
                <span class="player-detail position">Position</span>
                <span class="player-detail name">Name</span>
                <span class="player-detail team">Team</span>
                <span class="player-detail action">&nbsp;</span>
                <span class="player-detail action">&nbsp;</span>
            </h5>
            <div cdkDropList class="player-list" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let player of players; index as i" class="player" cdkDrag>
                    <span class="player-detail number">{{i + 1}}</span>
                    <span class="player-detail position">{{player?.position}}</span>
                    <span class="player-detail name">{{player?.name}}</span>
                    <span class="player-detail team">{{player?.team}}</span>
                    <button mat-icon-button class="player-detail action">
                        <mat-icon>check</mat-icon>
                    </button>
                    <button mat-icon-button class="player-detail action">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            </div>
        </section>
    </mat-card>
</div>
